<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<div class="top-image-parent">
	<div class="top-image block-center">
		<div id="theTarget">
			<div class="image1">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image2">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image3">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image4">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image5">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image6">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image7">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
			<div class="image8">
				<div class="welcome-content">
					<div class="logo text-center">
						<%= image_tag "logo1.png", :width => '200', :height => '200', class:"" %>
					</div>
					<p class="welcome-text">
						お客様に合ったホームビルダー、工務店を<br>ご紹介させていただきます！
					</p>
					<% if end_user_signed_in? %>
					<% else %>
						<p class="precautions">
							※お問い合わせには会員登録が必要です。
						</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>